ajaxuploader==0.3.8
awscli==1.6.2
backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
biopython==1.66
bioservices==1.2.6
boto==2.33.0
botocore==0.73.0
certifi==2015.4.28
decorator==3.4.0
Django==1.7.10
django-crispy-forms==1.4.0
django-debug-toolbar==1.0.1
django-storages==1.1.8
django-tastypie==0.12.1
docutils==0.12
email==4.0.2
future==0.13.0
gdata==2.0.18
itsdangerous==0.24
multipledispatch==0.4.8
path.py==8.1.2
psycopg2==2.5.1
pycountry==1.5
pyssdb==0.1.0
python-dateutil==2.5.3
pytz==2014.4
requests==2.9.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
slugify==0.0.1
sqlparse==0.1.11
traitlets==4.2.1
unicodecsv==0.9.4