{% extends 'base.html' %}
{% block title %} - MetaHCR Registration{% endblock %}
{% block content %}
    <div id="infobox">
        In order to access the MetaHCR data, you must be registered. To register, please fill in the form below. We
        will contact you when your request has been processed.
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div style="margin-left: 33%; margin-right: auto; margin-top: 30px;">
        <div id="registration-panel"
             class="easyui-panel"
             title="Register with MetaHCR"
             style="width: 300px;">
            <form action="" method="post">
                {% csrf_token %}
                <table cellpadding="5">
                    <tr>
                        <td>Email Address:</td>
                        <td>
                            <input class="easyui-validatebox"
                                   type="text"
                                   name="_username"
                                   required="required"
                                   validType="email"
                                   />
                        </td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td>
                            <input class="easyui-textbox"
                                   type="password"
                                   id="password"
                                   name="_password"
                                   required="required"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Repeat Password:</td>
                        <td>
                            <input class="easyui-textbox"
                                   type="password"
                                   id="password2"
                                   name="_password2"
                                   required="required"
                                   validType="equals['#password']"
                                    />
                        </td>
                    </tr>
                    <tr>
                        <td>First Name</td>
                        <td>
                            <input class="easyui-textbox"
                                   type="text"
                                   name="_first_name"
                                   data-options="required:true"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td>
                            <input class="easyui-textbox"
                                   type="text"
                                   name="_last_name"
                                   data-options="required:true"/>
                        </td>
                    </tr>
                </table>
                <div style="text-align:center; padding: 5px;">
                    <button class="easyui-linkbutton" type="submit" role="button">Submit</button>
                    <button class="easyui-linkbutton" type="button" role="button" aria-disabled="false"
                            onClick="history.go(-1)">Cancel
                    </button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
{% block javascript %}
{% endblock %}
