{% extends 'base.html' %}
{% block title %} - Login{% endblock %}
{% block content %}
    <div id="infobox">
        <span id="icon" class="info"></span>
        <span class="text">Your password has expired. Please reset it with the form below.</span>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div style="margin-left: 33%; margin-right: auto; margin-top: 30px;">
        <div id="login-panel"
             class="easyui-panel"
             title="Reset Password"
             style="width: 300px;">
            <form action="reset_password" method="post">
                {% csrf_token %}
                <table cellpadding="5">
                    <tr>
                        <td>Current Password:</td>
                        <td>
                            <input class="easyui-textbox"
                                   type="password"
                                   name="_current_password"
                                   data-options="required:true"/>
                        </td>
                    </tr>
                    <tr>
                        <td>New Password:</td>
                        <td>
                            <input class="easyui-textbox"
                                   type="password"
                                   name="_new_password"
                                   data-options="required:true"/>
                        </td>
                    </tr>
                </table>
                <div style="text-align:center;padding: 5px;">
                    <button class="easyui-linkbutton" type="submit" role="button" aria-disabled="false">Reset</button>
                    <button class="easyui-linkbutton" type="button" role="button" aria-disabled="false"
                            onClick="history.go(-1)">Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascript %}
{% endblock %}
